<header>
<nav class="navbar navbar-expand ">
  <a href="/home" class="navbar-brand">PC-POINT</a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item" *ngIf="isLoggedUserAdmin">
      <a href="/add"  class="nav-link" >New Product</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a href="/all" class="nav-link" >Products</a>
    </li>
    <li class="nav-item">
      <a href="/locations"   class="nav-link" >Locations</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a href="/reviews"   class="nav-link" >Reviews</a>
    </li>
    <li class="nav-item">
      <a href="/about"   class="nav-link" >About Us</a>
    </li>

  </ul>

      <p *ngIf="isLoggedIn">
        <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </p>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card">
          <div class="card-body">
            You have <strong>{{products.length}}</strong> products in your cart.
            <button mat-raised-button color="primary" class="submit" [routerLink]="['/confirm']">Make Order</button>
          </div>
        </div>
      </div>


  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
    <li class="nav-item">
      <a href="/register" class="nav-link">Register</a>
    </li>
    <li class="nav-item">
      <a href="/login" class="nav-link">Login</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a href="/profile" class="nav-link" >{{ username }}</a>
    </li>
    <li class="nav-item">
      <a href class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>


</nav>
</header>
