agm-map {
  height: 300px;
}

.map-div {
  width: 96%;
  height: 300px;
  text-align:center;
  margin: auto;

}

.select-header {
  text-align:  center;
}


select {
  display: block;
  margin: 0 auto;
}

.container {
  min-height: 100%;
  margin-bottom: -60px;
}
