agm-map {
  height: 300px;
}

.map-div {
  width: 96%;
  height: 300px;
  text-align:center;
  margin: auto;

}

.select-header {
  text-align:  center;
}

.selected-locations {
  text-align: center;
  align-content: center;
}



select {
  display: block;
  margin: 0 auto;
}

.container {
  margin-top: 10px;
  min-height: 100%;
  /*margin-bottom: -55px;*/
}

.select-body {
  text-align: center;
}
mat-label {
  font-size: 1.3em;
}
.modal-body {
  text-align: center;
}

form{
  text-align: center;
}

mat-form-field{
  width: 80%;
}

.main-select {
  width: 70%;
  font-size: 1.3em;
}

h1,h2,h3,h4,h5,h6 {
  color: white;
}

.add {
  margin-top: 30px;
  text-align: center;
}
.modal-title {
  color: black;
}
