.app-header{
  background-color: rgb(20, 20, 59);
}

.container {
min-height: 100%;
margin-bottom: -55px;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 400px;
  width: 100%;
}


.item {
  width: 40%;
}

ngb-carousel{
  width: 60%;
}

p, h3 {
  color: rgb(20, 20, 59);

}

