body {
  text-align: center;
}
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}

.form-container {
  display: block;
  text-align: center;
}

mat-form-field{
  width: 45%;
  float: left;
  margin-left: 50px;
  font-size: 1.4em;
}

.custom-field{
  font-size: 1.3em;
}

.custom-input {
  margin-top: 20px;
  margin-bottom: 10px;
}


.return {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  font-size: 1.3em;
}
button{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  font-size: 1.3em;
}

.submit{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 67%;
  font-size: 1.11em;
}
