<article>


  <div class="container" >
    <div class="row">
      <div class="col-md-2">
        <img src="{{productForRemoval?.imageUrl}}" width="45px" height="45px">
      </div>
      <div class="col-md-4">
        <h3><strong>{{productForRemoval?.name}}</strong> x{{occurrence}} : {{productForRemoval?.price}}$</h3>
      </div>
      <div class="col-md-auto" >
        <button mat-stroked-button color="primary" (click)="addProductToCart(productForRemoval.id)">Add to cart</button>
        <button mat-raised-button color="primary" class="btns" (click)="removeProductFromCart(productForRemoval.id)">Remove from cart</button>
      </div>
    </div>
  </div>


</article>
