.container {
  min-height: 100%;

  background: #f7f7f7;
  margin-top: 20px;
  border-radius: 3px;
}

.container-menus{
  margin-bottom: 10px;
}

mat-checkbox{
  margin-right: 40px;
}

.warning {
  text-align: center;
}

.update{
  margin-left: 30px;
}
