agm-map {
  height: 200px;
  /*width: 85%;*/
}

.map-div {
  width: 85%;
  height: 400px;
  text-align: center;
  margin: auto;
}

mat-form-field {
  width: 86%;
  margin: 10px 30px 10px 30px;
}

.submit{
  color: white;
  background-color: rgb(20, 20, 59);
  width: 86%;
  margin: 10px 30px 10px 30px;
}

.form{
  text-align: center;
}

article {
  border: white solid 1px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

h3 {
  color : white;
}

