<article>
  <div class="text">{{location.address}}</div>
  <button mat-raised-button color="primary" *ngIf="isAdmin" (click)="onDelete(location.id)" class="btn btn-light btn-flat">Delete Location</button>
  <button mat-raised-button color="primary" *ngIf="isAdmin" class="btn btn-light btn-flat" (click)="open(content)">Edit Location</button>
</article>

<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title">Edit location: {{location.address}}</h2>
    <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">&times;</button>
  </div>
  <div class="modal-body">
    <agm-map (mapClick)="onUpdate($event)" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="editLatitude" [longitude]="editLongitude"></agm-marker>
    </agm-map>
  </div>
  <form #f="ngForm" [formGroup]="editForm" (ngSubmit)="f.form.valid && editOnSubmit(f)" class="form">
    <hr />

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>City</mat-label>
      <input type="text" matInput [formControl]="cityFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. Plovdiv" [(ngModel)]="editCity">
      <mat-error *ngIf="cityFormControl.hasError('required')">
        City is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Address</mat-label>
    <input type="text" matInput [formControl]="addressFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. Oborishte 42" [(ngModel)]="editAddress">
    <mat-error *ngIf="addressFormControl.hasError('required')">
      Address is <strong>required</strong>
    </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Longitude</mat-label>
      <input type="text" matInput [formControl]="longitudeFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. 42.6669" [(ngModel)]="editLongitude" readonly>
      <mat-error *ngIf="longitudeFormControl.hasError('required')">
        Longitude is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Latitude</mat-label>
      <input type="text" matInput [formControl]="latitudeFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. Oborishte 42" [(ngModel)]="editLatitude" readonly>
      <mat-error *ngIf="latitudeFormControl.hasError('required')">
        Latitude is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <mat-error *ngIf="latitudeFormControl.hasError('required') && longitudeFormControl.hasError('required')">
     Please <strong>select</strong> a location on the <strong>map!</strong>
    </mat-error>
    <div class="form-group">
      <button mat-stroked-button color="primary" type="submit" class="submit"
              (click)="f.form.valid ? modal.dismiss('Submit') : ''">Submit</button>
    </div>
  </form>
</ng-template>
